body {
    background-color: #F3E5D7;
    padding: 120px 48px;
    color: #5F564D;
    font-family: "Outfit", serif;
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-color: white;
    max-width: 736px;
    margin-left:auto;
    margin-right:auto;
    padding: 40px;
    border-radius: 24px;  
}

/* Typography Styling */
h1 {
    font-size: 40px;
    font-weight: 400;
    color: #312E2C;
    font-family: "Young Serif", serif;
    margin: 0px;
    
}

h2 {
    font-size: 28px;
    font-weight: 400;
    color: #854632;
    font-family: "Young Serif", serif;
    margin: 0px;
}

p {
    color: #5F564D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;

    strong {
        font-weight: 600;
        color: #5F564D;
    }
}

/* List  style */
li {
    margin-bottom: 8px;
}


.section_hero {
    width: 100%;

    .hero-image {
        width: 100%;
        background-size: cover;
        border-radius: 12px;
        height: 300px;
    }

    .title {
        display: flex;
        flex-direction: column;
        column-gap: 1px;

        

    }

    .hero-btm {
        padding: 24px;
        background-color: #FFF7FB;
        border-radius: 12px;

        .prepare-title {
            font-size: 20px;
            font-weight: 500;
            color: #7A284E;
        }
    }

}



.line {
    width: 100%;
    border-top: #E3DDD7 solid 1px;
}

@media (max-width: 440px) {

    body {
        background-color: #F3E5D7;
        padding: 0px;
        margin: 0px;
    }
    
    main {
        background-color: white;
        width: 100%;
        margin-left:auto;
        margin-right:auto;
        padding: 32px 40px;
        border-radius: 0px;
    }

}

