body {
    background-color: #F3E5D7;
    padding: 120px 48px;
    color: #5F564D;
    font-family: "Outfit", serif;
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-color: white;
    max-width: 736px;
    margin-left:auto;
    margin-right:auto;
    padding: 40px;
    border-radius: 24px;  
}

/* Typography Styling */
h1 {
    font-size: 40px;
    font-weight: 400;
    color: #312E2C;
    font-family: "Young Serif", serif;
    margin: 0px;
    
}

h2 {
    font-size: 28px;
    font-weight: 400;
    color: #854632;
    font-family: "Young Serif", serif;
    margin: 0px;
}

p {
    color: #5F564D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}

.text-size-bold {
    font-weight: 600;
}

/*Section Styling */

.section_hero {
    width: 100%;

    .hero-image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 12px;
        margin-bottom: 40px;
    }

}

.section_content {
    display: flex;
    flex-direction: column;
    gap: 32px;


    .content-item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content-item.prepare {
        padding: 24px;
        background-color: #FFF7FB;
        border-radius: 12px;
        

        .content-item-title.prepare {
            font-size: 20px;
            font-weight: 500;
            color: #7A284E;
            margin-top: -16px;
        }
    }

    .content-item-list {
        margin-left: -16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .line-style {
        width: 100%;
        border-top: #E3DDD7 solid 1px;
    }

    .content-grid-wrap {
        display: flex;
        flex-direction: column;
        gap: 0px;

        .content-grid-item {
            display: flex;
            flex-direction: row;
            padding: 0px 32px;
        }
    }
}





@media (max-width: 440px) {

    body {
        background-color: #F3E5D7;
        padding: 0px;
        margin: 0px;
    }
    
    main {
        background-color: white;
        width: 100%;
        margin-left:auto;
        margin-right:auto;
        padding: 32px 40px;
        border-radius: 0px;
    }

}

